<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>STRAVA_CLIENT_ID</key>
    <string>168939</string>
    <key>STRAVA_CLIENT_SECRET</key>
    <string>d27e14c9d1cd96d5dfc9e05ce44b4576739766eb</string>
    <key>SUPABASE_URL</key>
    <string>https://tcpvmldytbxoyslrobot.supabase.co</string>
    <key>SUPABASE_ANON_KEY</key>
    <string>eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRjcHZtbGR5dGJ4b3lzbHJvYm90Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTMwMDYwMDgsImV4cCI6MjA2ODU4MjAwOH0.HalhuU06EK1wOnT2dQ_qNDQnZVauD5g2XXacI5w9qws</string>
    <key>GOOGLE_CLIENT_ID</key>
    <string>482888449961-i0njs56p0dkecjhfdf4ki64m20qvn3go.apps.googleusercontent.com</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>wisp</string>
			</array>
		</dict>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
